$theme-color: #5fa2dd;
$theme-border-color: #3d8ed6;
$theme-hover-color: #4693d8;
$theme-hover-border-color: #2b7fca;
$theme-pressing-color: #2d85d2;
$theme-pressing-border-color: #266fb0;
$theme-text-border-color: #77b0e2;

$theme-light-color: #f6f6f6;
$theme-light-border-color: #e4e4e4;
$theme-light-hover-color: #e6e6e6;
$theme-light-hover-border-color: #d2d2d2;
$theme-light-pressing-color: #d7d7d7;
$theme-light-pressing-border-color: #c3c3c3;

$text-dark-color: #606060;
$text-light-color: #f0f0f0;
$text-deep-color: #404040;

$border-color: #d0d0d0;
$menu-select-color: #7fb5e4;
