.x-icon-ext {
  font-family: 'Ext';
  font-style: normal;
}

.x-icon-ext-sort-alpha-asc:before {
  content: "\e61a";
}

.x-icon-ext-sort-alpha-desc:before {
  content: "\e619";
}

.x-icon-ext-columns:before {
  content: "\e601";
}

.x-ext-checked-sel:before {
  content: "\e613";
}

.x-ext-checked-unset:before {
  content: "\e614";
}

.x-slider-thumb:before {
  content: "\e612";
}

.x-tbar-page-first:before {
  content: "\e617";
}

.x-tbar-page-prev:before {
  content: "\e615";
}

.x-tbar-page-next:before {
  content: "\e616";
}

.x-tbar-page-last:before {
  content: "\e618";
}

.x-grid-cell-modify:before {
  content: "\e602";
}
