.x-numberfield-spinner {
  display: table-cell;
  width: 32px;
  text-align: center;
  font-size: 16px;
  background-color: #ffffff;
  color: #919191;
  vertical-align: top;

  .x-numberfield-spinner-item {
    width: 32px;
    height: 15px;
    line-height: 16px;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;

    &:first-child {
      i {
        display: block;
        margin-top: -1px;
      }
    }

    &:last-child {
      i {
        display: block;
        margin-top: -3px;
      }
    }

    &:hover {
      background-color: #F0F0F0;
    }
  }
}
