.x-textfield {
  display: table;
  width: 100%;

  .x-textfield-body {
    display: table-cell;
    vertical-align: middle;

    .x-textfield-input {
      color: #404040;
      padding: 5px 10px 4px;
      font: 300 13px/21px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
      background-color: #fff;
      width: 100%;
      min-height: 30px;
      border: 0px;
      box-sizing: border-box;
    }
  }
}
