.x-column-group {
  display: table;
  width: 100%;
  overflow: hidden;
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #d0d0d0;

  .x-column-group-body {
    position: relative;
    overflow: hidden;

    .x-column-group-inner {
      position: relative;
      overflow: hidden;
      display: table;
    }
  }


  .x-column-group-header-inner {

    .x-column-group-header-merge {
      text-align: center;
      border-bottom: 1px solid #d0d0d0;
    }

    .x-column-group-header {

    }

    &.x-column-group-hidden {
      display: none;
    }
  }
}
