.app-empty {
  display: block;
  text-align: center;

  i {
    display: block;
    font-size: 50px;
    color: #d0d0d0;
    margin-top: 10px;
  }

  span {
    display: block;
    font-size: 13px;
    color: #999999;
    margin: 10px;
  }
}
